.container {
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
}