.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.logo{

    font-weight: bold;
    font-size: 22px;
    z-index: 4;
}
.links{
    display: flex;
    align-items: center;
    gap: 22px;
    z-index: 4;
}

.logout{

    padding: 5px;
    border: none;
    background-color: #0D1282;
    color: aliceblue;
    cursor: pointer;
    border-radius: 3px;
    z-index: 4;
}