.container{

    display: flex;
    align-items: center;
    gap: 100px;
    z-index: 3;
}

.item{
    /* flex: 0.8; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 3;
}
.title{

    font-size: 72px;
	background: linear-gradient(to right, #30CFD0 0%, #8d48e0 100%);
    opacity: 2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
z-index: 3;
}

.img{
    border: 14px solid #30CFD0;
    /* mix-blend-mode:color-burn; */
    /* linear-gradient(to right, #30CFD0 0%, #8d48e0 100%); */
    border-radius: 50%;
    width: 400px;
    height: auto;
    object-fit: cover;
    z-index: 3;
    /* cursor: pointer; */


}
.desc{
    font-size: 24px;
    font-weight: 500;
    z-index: 3;

}
